{% extends "layout.njk" %}

{% import "parts/card.njk" as card %}

{% block content %}

  {% if products.length <= 0 %}

    {% call card.render("", "cart-empty container") %}
    <p>Nenhum anúncio</p>

    <a href="/ads/create" class="button">Anuncie agora</a>
    {% endcall %}

  {% else %}

    {% call card.render('Meus anúncios', 'users-ads container') %}

    <div class="items">

      {% for product in products %}
        <div class="item">
          <div class="image"
          style="background-image: url('{{product.files[0].src}}')"></div>

          <div class="info">
            <div class="title">{{product.name}}</div>
            <div class="price">{{product.formattedPrice}}</div>
            <div class="published">Publicado em {{product.formattedCreatedAt}}</div>

            <div class="actions">
              <a href="/products/{{product.id}}/edit">Editar</a>
              <a href="/products/{{product.id}}">Ver</a>
            </div>
          </div>

        </div>
      {% endfor %}

    </div>

    {% endcall %}

  {% endif %}

{% endblock content %}